extends layout

block content
    br
    form(action='/new', method='POST')
        p
            label(for='name') Name :  
            input(type='text', name='name',value='')
            br
            br
            label(for='type') Type :  
            input(type='text', name='type', value='')
            br
            br
            label(for='players') Number of players :              
            input(type='number', name='players', value='')      
            br
            br
            label(for='origin') Origin :  
            input(type='text', name='origin', value='')
            br
            br      
			label(for='stared') Add to the favourite game list :  
            input(type='boolean', name='stared', value='')
        input(type='submit', value='submit')