extends layout

block content
  h2= title  
  
  body(style={background: '#cdf5cd'})
  .row
     .col-xs-12.col-sm-8
       .row.list-group
         each item in nav
           .col-xs-12.list-group-item
             h4 
               h4.page= item.page
               small &nbsp;        
              
             p.goTo= item.goTo 

    h6= pageHeader.feedback
             