doctype html
html
  head
    title= title
    body(style={background: '#cdf5cd'})
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    block content  
    block scripts
		script (src='/build/main.js')
		script (src='/build/polyfills.js')
		script (src='/build/runtime.js')
		script (src='/build/styles.js')
		script (src='/build/vendors.js')